.nav {
  background-color: transparent;
}

.logo-white {
  filter: invert(100%) sepia(4%) saturate(7466%) hue-rotate(282deg) brightness(109%) contrast(101%);
  height: 80px;
}

.nav-right > a {
  font-size: large;
}

.menu-trigger {
  font-size: large;
}

.relative-container {
  position: relative;
  width: 100%;
  height: 0px;
}

.absolute-container {
  position: fixed;
  width: 100%;
}
