<div class="relative-container">
  <nav class="nav nav-white absolute-container" [ngClass]="{'nav-white': this.shouldChangeBackground}">
    <div class="nav-left">
      <img class="nav-brand logo-white" src="assets/logos/brokker-chile-full.svg" alt="" />
      <div class="float-right hide-small-desktop-up">
        <a class="nav-item" id="navToggle"><i class="d-icon d-more-vertical"></i></a>
      </div>
    </div>
    <div class="nav-responsive" style="height: auto">
      <div class="nav-right">
        <!-- <div class="menu menu--nav is-right">
          <div class="nav-item menu-trigger">Menu<i class="d-icon d-arrowhead-down is-small"></i></div>
          <div class="menu-content">
            <a>Menu Item #1</a>
            <a>Menu Item #2</a>
            <a>Menu Item #3</a>
          </div>
        </div>
        <a class="nav-item hide-tablet-down"><i class="d-icon d-dashboard"></i><span
            class="icon-name">Dashboard</span></a> -->
        <a class="nav-item"><i class="d-icon d-menu-dialpad"></i><span class="icon-name">Apps</span></a>
        <a class="nav-item"><i class="d-icon d-user-profile-circle"></i><span class="icon-name">Profile</span></a>
      </div>
      <div class="nav-right">
        <!-- <a class="nav-item is-active" routerLink="">Inicio</a> -->
        <a
          *ngFor="let item of routes"
          class="nav-item"
          [ngClass]="{'is-active': isActive(item)}"
          [routerLink]="item.path"
        >
          {{item.title}}
        </a>
      </div>
    </div>
  </nav>
</div>
