<!-- <footer class="footer-container">
  <div class="flex-centered">
    <div class="nav-brand logo-white-responsive"></div>
  </div>
  <div class="white-items flex-centered margin-between hover-underline">
    <div>
      <span class="d-icon d-location mx-3"></span>
      <span>Alejandro Almagro 4921, Oficina 201, Santiago</span>
    </div>
    <div>
      <span class="d-icon d-mail mx-3"></span>
      <a href="mailto:brokkerchile2@gmail.com">brokker.chile@gmail.com</a>
    </div>
  </div>
  <div class="white-items flex-centered margin-between hover-underline">
    <h4 class="mx-4" style="color: white">
      Contacto con un ejecutivo
    </h4>
    <div>
      <span class="d-icon d-device-mobile mx-3"></span>
      <a href="tel:+56 9 9754 1145">+56 9 9754 1145</a>
    </div>
  </div>
  <div class="white-items icons-layout">
    <a href="https://twitter.com/" class="d-icon d-twitter"></a>
    <a href="https://es-la.facebook.com/brokkerchile/" class="d-icon d-facebook"></a>
    <a href="https://www.linkedin.com/feed/" class="d-icon d-linkedin"></a>
    <a href="https://wa.me/56932035093" class="d-icon d-whatsapp"></a>
    <a href="https://www.instagram.com" class="d-icon d-instagram"></a>
  </div>
</footer> -->
<footer class="footer-background-black flex is-gutterless align-items-center">
  <div class="row justify-content-center " style="width: 100%; height: 100%;">
    <div class="flex flex-1 col-1-4 min-width-200 align-items-center justify-content-center">
        <div class="nav-brand logo-white-responsive"></div>
    </div>
    <div class="flex-1 col-1-4 white-items flex-centered margin-between hover-underline min-width-200">
        <div>
          <span class="d-icon d-location mx-3"></span>
          <span>Alejandro Almagro 4921, Oficina 201, Santiago</span>
        </div>
    </div>
  </div>
  <div class="row justify-content-center " style="width: 100%; height: 100%;">
    <div class="flex-1 col-1-4 white-items flex-centered margin-between hover-underline min-width-200 align-items-center">
      <div class="">
        <h4 class="mx-4" style="color: white">
          Contacto con un ejecutivo
        </h4>
        <div>
          <span class="d-icon d-device-mobile mx-3"></span>
          <a href="tel:+56 9 9754 1145">+56 9 9754 1145</a>
        </div>
      </div>
    </div>
    <div class="row flex-1 col-1-4 min-width-200 white-items icons-layout">
      <div class="col-1-5 min-width-80 flex justify-content-center align-items-center"><a href="https://twitter.com/" class="d-icon d-twitter"></a></div>
      <div class="col-1-5 min-width-80 flex justify-content-center align-items-center"><a href="https://es-la.facebook.com/brokkerchile/" class="d-icon d-facebook"></a></div>
      <div class="col-1-5 min-width-80 flex justify-content-center align-items-center"><a href="https://www.linkedin.com/feed/" class="d-icon d-linkedin"></a></div>
      <div class="col-1-5 min-width-80 flex justify-content-center align-items-center"><a href="https://wa.me/56932035093" class="d-icon d-whatsapp"></a></div>
      <div class="col-1-5 min-width-80 flex justify-content-center align-items-center"><a href="https://www.instagram.com" class="d-icon d-instagram"></a></div>
    </div>
  </div>

</footer>
