<footer class="footer-container">
  <div class="flex-centered">
    <div class="nav-brand logo-white-responsive"></div>
  </div>
  <div class="white-items flex-centered margin-between hover-underline">
    <div>
      <span class="d-icon d-location mx-3"></span>
      <span>Alejandro Almagro 4921, Oficina 201, Santiago</span>
    </div>
    <div>
      <span class="d-icon d-mail mx-3"></span>
      <a href="mailto:brokker.chile@gmail.com">brokker.chile@gmail.com</a>
    </div>
  </div>
  <div class="white-items flex-centered margin-between hover-underline">
    <h4 class="mx-4" style="color: white">
      Contacto con un ejecutivo
    </h4>
    <div>
      <span class="d-icon d-device-mobile mx-3"></span>
      <a href="tel:+56 9 9754 1145">+56 9 9754 1145</a>
    </div>
  </div>
  <div class="white-items icons-layout">
    <a href="https://twitter.com/" class="d-icon d-twitter"></a>
    <a href="https://es-la.facebook.com/brokkerchile/" class="d-icon d-facebook"></a>
    <a href="https://www.linkedin.com/feed/" class="d-icon d-linkedin"></a>
    <a href="https://wa.me/56932035093" class="d-icon d-whatsapp"></a>
    <a href="https://www.instagram.com" class="d-icon d-instagram"></a>
  </div>
</footer>
