<div class="row">
  <div class="xs-col-12-12 sm-col-6-12 md-col-4-12 lg-col-4-12 xl-col-4-12">
    <app-select
      label="Plazo del contrato"
      [controlForm]="asFormControl(controlForm.controls.contractPeriod)"
      [items]="contractPeriodList"
    >
    </app-select>
  </div>
  <div class="xs-col-12-12 sm-col-6-12 md-col-4-12 lg-col-4-12 xl-col-4-12">
    <label>Renta</label>
    <div class="input" style="width: 100%">
      <input [formControl]="asFormControl(controlForm.controls.wageIncome)" type="number" />
    </div>
  </div>
</div>
<div class="row">
  <div class="xs-col-12-12 sm-col-6-12 md-col-4-12 lg-col-4-12 xl-col-4-12">
    <label>Antiguedad</label>
    <div class="input" style="width: 100%">
      <input [formControl]="asFormControl(controlForm.controls.laborOldQuantity)" type="number" />
    </div>
  </div>
  <div class="xs-col-12-12 sm-col-6-12 md-col-4-12 lg-col-4-12 xl-col-4-12">
    <app-select
      label=""
      [controlForm]="asFormControl(controlForm.controls.laborOldSufix)"
      [items]="laborOldSufixList"
    >
    </app-select>
  </div>
</div>
