<div class="image-container flex-centered white-items ">
  <img class="nav-brand logo-white" src="assets/logos/brokker-chile-full.svg" alt="" />
  <div class="presentation-text">

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit labore sit similique ut, rem est voluptas iste velit, hic explicabo saepe iusto adipisci assumenda fuga sapiente, id dolore vitae perferendis a. Blanditiis ducimus distinctio itaque veritatis nobis. Molestiae voluptatibus sequi eveniet labore eligendi asperiores qui dolorum adipisci? Fuga, quasi error.

  </div>
</div>
<div class="image-container flex-centered white-items ">
  <img class="nav-brand logo-white" src="assets/logos/brokker-chile-full.svg" alt="" />
  <div class="presentation-text">

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit labore sit similique ut, rem est voluptas iste velit, hic explicabo saepe iusto adipisci assumenda fuga sapiente, id dolore vitae perferendis a. Blanditiis ducimus distinctio itaque veritatis nobis. Molestiae voluptatibus sequi eveniet labore eligendi asperiores qui dolorum adipisci? Fuga, quasi error.

  </div>
</div>
