h1 {
  margin-bottom: 1.5em;
}

.component-container {
  height: fit-content;
  padding-bottom: 80px;
}

.component-container p {
  font-size: 20px;
  max-width: 859px;
}

.bottom-navigation {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 0px) and (max-width: 768px) {
  .step  span {
    opacity: 0;
    visibility: hidden;
  }
  .is-active  span {
    opacity: 1 !important;
    visibility: visible !important;
  }
}
