<div class="row">
  <div class="xs-col-12-12 sm-col-6-12 md-col-4-12 lg-col-4-12 xl-col-4-12">
    <label>Patrimonio inmobiliario</label>
    <div class="input" style="width: 100%">
      <input
        [formControl]="asFormControl(controlForm.controls.realStateHeritage)"
        type="text"
      />
    </div>
  </div>
  <div class="xs-col-12-12 sm-col-6-12 md-col-4-12 lg-col-4-12 xl-col-4-12">
    <label>Patrimonio mobiliario / Vehiculos</label>
    <div class="input" style="width: 100%">
      <input [formControl]="asFormControl(controlForm.controls.furnitureHeritage)" type="text" />
    </div>
  </div>
</div>
<div class="row">
  <div class="xs-col-12-12 sm-col-6-12 md-col-4-12 lg-col-4-12 xl-col-4-12">
    <label>Deudas a corto plazo</label>
    <div class="input" style="width: 100%">
      <input
        [formControl]="asFormControl(controlForm.controls.shorTermsDebts)"
        type="text"
      />
    </div>
  </div>
  <div class="xs-col-12-12 sm-col-6-12 md-col-4-12 lg-col-4-12 xl-col-4-12">
    <label>Deudas a largo plazo</label>
    <div class="input" style="width: 100%">
      <input [formControl]="asFormControl(controlForm.controls.longTermsDebts)" type="text" />
    </div>
  </div>
</div>
<div class="row">
  <div class="xs-col-12-12 sm-col-6-12 md-col-4-12 lg-col-4-12 xl-col-4-12">
    <label>Morosidad reciente</label>
    <div class="input" style="width: 100%">
      <input
        [formControl]="asFormControl(controlForm.controls.recentDeliquency)"
        type="text"
      />
    </div>
  </div>
  <div class="xs-col-12-12 sm-col-6-12 md-col-4-12 lg-col-4-12 xl-col-4-12">
    <app-select
      label="Complementa renta"
      [controlForm]="asFormControl(controlForm.controls.wageIncomeComplement)"
      [items]="wageIncomeComplementList"
    >
    </app-select>
  </div>
</div>
