<div class="row">
  <div class="xs-col-12-12 sm-col-12-12 md-col-8-12 lg-col-8-12 xl-col-8-12">
    <label>Nombre completo</label>
    <div class="input" style="width: 100%">
      <input [formControl]="asFormControl(controlForm.controls.name)" type="text" />
    </div>
  </div>
</div>
<div class="row">
  <div class="xs-col-12-12 sm-col-6-12 md-col-4-12 lg-col-4-12 xl-col-4-12">
    <label>Rut</label>
    <div class="input" style="width: 100%">
      <input
        [formControl]="asFormControl(controlForm.controls.rut)"
        (keypress)="onRutInputKeyDown($event)"
        (keyup)="onRutInputKeyUp()"
        type="text"
      />
    </div>
  </div>
  <div class="xs-col-12-12 sm-col-6-12 md-col-4-12 lg-col-4-12 xl-col-4-12">
    <label>Edad</label>
    <div class="input" style="width: 100%">
      <input [formControl]="asFormControl(controlForm.controls.age)" type="number" />
    </div>
  </div>
</div>
<div class="row">
  <div class="xs-col-12-12 sm-col-6-12 md-col-4-12 lg-col-4-12 xl-col-4-12">
    <app-select
      label="Estado civil"
      [controlForm]="asFormControl(controlForm.controls.maritalStatus)"
      [items]="maritalStatusList"
    >
    </app-select>
  </div>
  <div class="xs-col-12-12 sm-col-6-12 md-col-4-12 lg-col-4-12 xl-col-4-12">
    <label>Profesión u Oficio</label>
    <div class="input" style="width: 100%">
      <input [formControl]="asFormControl(controlForm.controls.job)" type="text" />
    </div>
  </div>
</div>
