<section class="meet-us-container">
  <div class="meet-us-text">
    <div>
      <h1 class="meet-us-title">Nuestros servicios</h1>
      <p class="separation">
        Ocupada en el mejoramiento de los procesos de obtención de productos financieros, haciendo un estudio
        personalizado de las oportunidades de cada cliente y entregando la opción que mejor se ajuste a su perfil.
      </p>
      <p style="margin-top: 60px;">
        <a class="wp-button " href="mailto:brokkerchile2@gmail.com">Comuniquese con nosotros</a>
      </p>
    </div>
  </div>
  <div class="meet-us-image py-4">
    <div class="services">
      <div class="service-item">
        <img alt="" src="assets/images/credito-hipotecario_black.png">
        <div class="">Créditos hipotecarios</div>
      </div>
      <div class="service-item">
        <img alt="" src="assets/images/renegociacion-deudas_black.png">
        <div class="">Renegociación de deudas</div>
      </div>
      <div class="service-item">
        <img alt="" src="assets/images/fines-generales_black.png">
        <div class="">Fines generales</div>
      </div>
      <div class="service-item">
        <img alt="" src="assets/images/credito-consumo_black.png">
        <div class="">Créditos de Consumo</div>
      </div>
      <div class="service-item">
        <img alt="" src="assets/images/cuentas-corrientes_black.png">
        <div class="">Cuentas corrientes</div>
      </div>
      <div class="service-item">
        <img alt="" src="assets/images/convenios_black.png">
        <div class="">Convenios</div>
      </div>
      <div class="service-item">
        <img alt="" src="assets/images/asesoria-personas_black.png">
        <div class="">Asesorías Financieras Personas</div>
      </div>
      <div class="service-item">
        <img alt="" src="assets/images/asesoria-empresas_black.png">
        <div class="">Asesorías Financieras Empresas</div>
      </div>
    </div>
  </div>
</section>
