<section class="meet-us-container">
  <div class="meet-us-text">
    <div>
      <h1 class="meet-us-title">Conocenos</h1>
      <p style="margin: 0.8em 0 0.8em 0;">
        Brokker Chile desde el año 2015 entrega soluciones financieras pensadas a personas naturales y empresas apoyando
        a
        su desarrollo de capitalización en bienes raíces.
      </p>
      <p style="margin-bottom: 0.8em;">
        Somos una empresa ocupada en el mejoramiento de los procesos de obtención de productos financieros, haciendo un
        estudio personalizado de las oportunidades de cada cliente y entregando la opción que mejor se ajuste a su
        perfil.
      </p>
      <p>
        Nos ocupamos de ofrecerle la mejor oportunidad para lograr su libertad financiera, para adquirir la propiedad de
        sus sueños.
      </p>

    </div>
  </div>
  <div class="meet-us-image"></div>
</section>
